.member_image {
  background-image: url("/Project_images/Backgrounds/jar top view.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  ._member ._member_input_div ._input {
    width: 250px;
  }
}
