.navbar {
  position: relative;
  background-color: #2997a5;
  background: transparent;
  margin-top: 50px;
  height: 50px;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  z-index: 1001;
}

.nav_image {
  width: 50%;
}

.nav_image img {
  height: 45px;
  width: auto;
  cursor: pointer;
  margin-left: 15px;
}

.nav_links_cart {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav_links {
  width: 100%;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
.nav_links_texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 14px;
  padding-right: 30px;
}

.nav_links span {
  cursor: pointer;
}

.nav_cart {
  margin-right: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav_cart .itemcount {
  position: relative;
}

.products_count {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  font-weight: lighter;
}

.nav_cart button {
  cursor: pointer;
  width: 128px;
  padding: 8px 4px;
  border-radius: 6px;
  background-color: rgb(246 164 83);
  color: whitesmoke;
  font-weight: lighter;
  &:hover {
    background-color: rgb(51 34 25);
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  .nav_image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bars {
    cursor: pointer;
    margin-right: 15px;
    font-size: 15px;
  }

  .nav_links_cart {
    position: absolute;
    top: 0;
    left: -300px;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 25px;
    backdrop-filter: blur(50px);
    color: whitesmoke;
    padding-top: 80px;
    transition: 0.5s ease;
    opacity: 0;
  }

  .nav_links_cart.open {
    left: 0;
    opacity: 1;
  }

  .nav_links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .nav_links_texts {
    flex-direction: column;
    gap: 30px;
  }

  .nav_cart {
    margin-right: 30px;
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .nav_image span {
    display: none;
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  opacity: 0;
}

.navbar:not(.animate) {
  opacity: 1;
}

.navbar.animate {
  animation: fadeInTop 1s ease-in-out forwards;
}
